/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	// &:visited {
	// 	color: $color__link-visited;
	// }
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	position: absolute;
	color: $navigation_color;
	display: flex;
	justify-content: space-between;
	padding: 10px 15%;
	width: 100%;

	.navigation-home {

		h1 {
			display: none;
			overflow:hidden;
		}

		.logo-button {
			height: 40px;
		}

	}

	.navigation-bar-wrapper {
		display: flex;
		
		.navigation-bar {
			display: flex;
			justify-content: flex-end;
			width: 500px;
	
			.search-icon {
				color: $color_link_navigation;
			}

			.menu-main-menu-container {
				
				ul {
	
					li {
						padding: $padding-base-navigation;
						text-transform: uppercase;
						
						a {
							color: $color_link_navigation;
						}

						a:hover {
							color: $color_link-hover_navigation;
						}
					}
	
				}
			}
	
			i {
				padding: $padding-base-navigation;
			}
			
		}

		.search-field {
			display: none;
			background: none;
			width: 0;
			transition: all .5s;
			color: $color_link_navigation;
		}
		
		// .navigation-form:hover .search-field {
		// 	width: 200px;
		// }
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		// &:hover > a,
		// &.focus > a {
		// }
	}
	a {
		display: block;
		text-decoration: none;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a {
	// }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.banner-image {
	filter: brightness(60%);
	z-index: -1;
}
