/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
// Widget Area Default
.widget-area {
    width: 300px;
    .widget-area-container {
        padding-top: 50px;
        padding-left: 30px;
        aside {
            font-weight: 300;
        }
        h2 {
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .widget-contact {
            display: flex;
            flex-direction: column;
            
            i {
                padding: 10px ;
                font-size: 1rem;

                a {

                    font-size: 1.2rem;
                    padding: 0 5px;
                    color: $base_theme_green;
                    text-decoration: none;
                }
                span {
                    display: block;
                    padding: 0 10px 35px 10px;
                    font-size: 1.2rem;
                }
            }
            .fa-map-marker-alt {
                display: flex;
            }
        }
        aside.widget {
            div {
                display: flex;
                height: 40px;
            }
            p {
                padding: 0 5px;
                margin: 0;
                height: 40px;
            }
        }
    }
}

// Button 
.theme-button-green{
    a {
        color: $base_white;
        background: $base_theme_green;
        text-decoration: none;
        padding: 10px 20px ;
        text-transform: uppercase;

        &:hover {
            background: $base_theme_green_darken;
        }
    }
}
.theme-button {
    color: black;
    width: 150px;
    margin: 10px 0;

    a {
        color: black;
        text-decoration: none;

        p {
            text-transform: uppercase;
            padding: 10px;
            text-align: center;
            border: 1px solid black;
        }

        *:hover {
            background: $base_theme_green;
            border: 1px solid rgba($color: #000000, $alpha: 0);
            color: $base_journal;
        }
    }
}
// Styling for all h2's
.frontpage-title {
    text-align: center;
    text-transform: uppercase;
}
/* Front page */
.front-page {
    
    .product-info {
        text-align: center;
        width: 1120px;
        margin: 0 auto;

        div {
            margin: 0 auto;
        }
        .product-type-blocks {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

           .product-type-block-wrapper{
               border: 1px solid $border-gray;
               border-top: 4px solid $border-gray;
               margin: 0 10px;
               padding: 10px 0;
                &:hover {
                    border: 1px solid $base_theme_orange;
                    border-top: 4px solid $base_theme_orange;
                }

                img {
                    width: 25%;
                }
                p {
                    margin: 0;
                    padding: 20px;
                }
            }
        }
    }
    input[type="search"] {
        color: $base_white;
    }

    ::placeholder {
        color: $color_link-hover_navigation;
    }
    
    .site-header {
        
        position: absolute;
        width: 100%;

        .navigation-wrapper {
           border: none;
           margin: 0 auto;
           width: 1120px;

           .main-navigation {
                .navigation-bar-wrapper {
                    .navigation-bar{
                        li {
                            a {
                                color: $base_white;
                                text-shadow: 1px 1px $color__text-main;

                                &:hover {
                                    color: $color_link-hover_navigation;
                                }
                            }
                            
                        }
                        .search-icon {
                            color: $base_white;
                            &:hover {
                                color: $color_link-hover_navigation;
                            }
                        }
                    }
                }

           }
        }
    }

    div {
        .site-content {
            width: 100%;
            .site-main {
                margin: 0;
                .banner-image {
                    height: 100vh
                }
                
            }
        }
    }

    .full-logo {
        background-repeat: no-repeat;
        z-index: 1;
        height: 300px;
        position: absolute;
        top: 15vh;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .entry-content {
        margin: 0 auto;
    }
    .featured-journals-wrapper{
        .featured-journals {
            line-height: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: none;
            .featured-journals-info {

                line-height: $font__line-height-body;
                border: 1px solid $border-gray;
                border-top: 4px solid $border-gray;
            }
        }
    }
}
// Width Limit
.width-restriction {
    margin: 0 auto;
    width: $base-page-width;
}
.site-main {
    margin-top: 3rem
}

.site-wrapper {
    width: 100%;
    .site-content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 4em;

        .content-area {
            grid-column-start: 1;
        }
        
        .widget-area {

            border-left: 1px solid $border-gray;
            grid-column-start: 0;
        }
    }
}
// Journal Page
.journal-entry {
    
    
    .journal-thumbnail {
        position: relative;
    }

    .journal-title-wrapper {
        max-width: 600px;
        text-transform: uppercase;
        position: absolute;
        margin-top: 2em;
        background: $base_theme_green;
        z-index: 1;

       a {

        color: $base_journal;
        text-decoration: none;
        *:hover {
            color: $color_link-hover_navigation;
        }
        .journal-title {
            margin: 1.2rem;
            max-width: 90%;
            line-height: 1.2;
        }

       } 
        
    }
    
    .journal-info {
        
        color: $base-journal;
        background: $base_theme_green;
        position: absolute;
        z-index: 1;
        padding: .4rem .8rem;
        margin-top: -3.1em;
        margin-left: 398.75px;
    }
}
// Find Us/ Contact page
.entry-content {

    max-width: 700px;
    label {
        font-size: 1.25em;
        text-transform: uppercase;
    }
    input , textarea{
        background: $color__background-pre;
        border: 1px solid $border-gray;
    }
    .required {
        color: $base_theme_orange;
    }

    .wpcf7-submit {
        text-transform: uppercase;
        font-size: 16px;
        background: $base_theme_green;
        text-shadow: none;
        color: $base_white;
        border: none;
        border-radius: 0;
        box-shadow: none;   
        padding: 10px 20px;

        &:hover  {
            background: $base_theme_green_darken;
            
        }
    }

}
// About
.about-page {

    input[type="search"] {
        color: $base_white;
    }

    ::placeholder {
        color: $color_link-hover_navigation;
    }

    .site-header {
        
        position: absolute;
        width: 100%;

        .navigation-wrapper {
           border: none;
           margin: 0 auto;
           width: 1120px;

           .main-navigation {
                .navigation-bar-wrapper {
                    .navigation-bar{
                        li {
                            a {
                                color: $base_white;
                                text-shadow: 1px 1px $color__text-main;

                                &:hover {
                                    color: $color_link-hover_navigation;
                                }
                            }
                            
                        }
                        .search-icon {
                            color: $base_white;
                            &:hover {
                                color: $color_link-hover_navigation;
                            }
                        }
                    }
                }

           }
        }
    }

    div {
        .site-content {
            width: 100%;
            .site-main {
                margin: 0;
                .banner-image {
                    height: 100vh
                }
                
            }
        }
    }

    .entry-header {
        position: absolute;
        top: 35vh;
        left: 50%;
        transform: translate(-50%, 50%);
        text-transform: uppercase;
        color: $base_white;
        font-size: 1.5em;
    }

    .entry-content {
        margin: 0 auto;
    }
}
