// Structure

$base__space-unit: 1.5rem;
$base_page_width: 1120px;
$base_theme_green: #248A83;
$base_theme_green_darken: rgb(18, 71, 68);
$base_journal: white;
$base_theme_orange: #d99054;
$base_white: #ffffff;


// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #248A83;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color_link_navigation: #fff;
// $color__link-visited: purple;
$color_link-hover_navigation: #f0e4d1;
$search-field-gray: #a1a1a1;

// Typography

$theme-font: 'Merriweather';
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

//Navigation Area
$navigation_color: #fff;
$padding-base-navigation: 15px;
$padding-base-navigation-search: 18px;

// Border
$border-gray: #e1e1e1;